@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="align-items-center">Calculadora</h1>
    <br />
    <br />
    <form asp-action="Calcular" method="post">
        <label>1º Número: </label>
        <input type="number" name="num1" />
        <br /><br />
        <label>2º Número: </label>
        <input type="number" name="num2" />
        <br /><br />
        <label>3º Número: </label>
        <input type="number" name="num3" />
        <br /><br />
        <input type="submit" value="Calcular" />
    </form>

    <p>@ViewBag.respuesta</p>

    <br /><br />


    <table class="table table-bordered caption-top">
        <caption>Tabla de datos</caption>
        <thead class="table-primary">
            <tr>
                <th scope="col">1º Número</th>
                <th scope="col">2º Número</th>
                <th scope="col">3º Número</th>
                <th scope="col">Operación</th>
                <th scope="col">Resultado</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (ViewBag.listado != null)
                {
                    foreach (var item in ViewBag.listado)
                    {
                        <tr>
                            <td>@item.num1_</td>
                            <td>@item.num2_</td>
                            <td>@item.num3_</td>
                            <td>@item.operacion_</td>
                            <td>@item.resultado_</td>
                        </tr>
                    }
                };
            }
        </tbody>
    </table>

    <!---<div class="table">
        <table border="1" width="100%">
            <tr>
                <td style="background:red; color:white; width:20%">Número 1</td>
                <td style="background:red; color:white; width:20%">Número 2</td>
                <td style="background:red; color:white; width:20%">Número 3</td>
                <td style="background:red; color:white; width:20%">Operación</td>
                <td style="background:red; color:white; width:20%">Resultado</td>
            </tr>
            <tr>    
                @{
                    if (ViewBag.listado != null)
                    {
                        foreach (var item in ViewBag.listado)
                        {
                            <tr>
                                <td>@item.num1_</td>
                                <td>@item.num2_</td>
                                <td>@item.num3_</td>
                                <td>@item.operacion_</td>
                                <td>@item.resultado_</td>
                            </tr>
                        }
                    }
                }
            </tr>
        </table>
    </div>-->
</div>
